<footer class="site-footer">
  <div class="container footer-inner">
    <img class="footer-logo" src="{{ '/assets/img/ist-logo.png' | relative_url }}" alt="Department of Information Science Technology, Cullen College of Engineering">
    <div class="footer-text">
      &copy; {{ "now" | date: "%Y" }} Smart Systems Security Lab<br>
      Information Science Technology Department<br>
      Cullen College of Engineering<br>
      University of Houston
    </div>
  </div>
</footer>

<script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
